<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="TodoConnection" connectionString="Data Source=DESKTOP-ERV6E6M\SQLEXPRESSGROUP;Initial Catalog=ToDoApplication;User ID=sa;Password=qwerty;Trusted_Connection=SSPI;Encrypt=false;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>